// Place your apps css here
body {
  background: url('/assets/images/background.png')
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-wrapper {
  display: inline;
  position: relative;
  margin: 10px;
}

.card-wrapper a {
  // get rid of outline border when clicked
  outline: none;
  opacity: 0.7;
  text-decoration: none;
}

.card-wrapper a:hover,
.card-wrapper.small a:hover,
.card-wrapper.active a,
.card-wrapper.small.active a {
  opacity: 1;
  text-decoration: none;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}

.card-wrapper.small {
  margin-left: 0;
}

.card-wrapper.small a {
  opacity: 0.5;
}

.card-wrapper.small .card {
  height: 70px;
  border-radius: 3px;
}

.card-wrapper.active img {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

.card-wrapper a:hover img {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

.user-name {
  position: absolute;
  top: 0;
  z-index: 1;
  color: #fff;
  text-align: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.actions {
  margin: 20px 0 0 0;
  text-align: center;
}

// overwrites

.header {
  border-bottom: none;
}

.footer {
  margin-top: 20px;
  border-top: none;
}
