// Place your apps css here
.card {
  border: 1px solid #000;
  border-radius: 7px;
}

.card.active {
  border-width: 5px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-wrapper {
  display: inline;
  position: relative;
  margin: 10px;
}

.card-wrapper a:hover {
  opacity: 0.5;
}

.user-name {
  position: absolute;
  top: 20px;
  z-index: 1;
  color: #fff;
  text-align: center;
  width: 100%;
}

.actions {
  margin: 20px 0 0 0;
  text-align: center;
}


// overwrites

.header {
  border-bottom: none;
}

.footer {
  margin-top: 20px;
  border-top: none;
}
