<:Title>
  {{ view main_path, "title", {controller_group: 'main'} }}

<:Body>
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <:nav href="/estimate" class="">New session</:nav>
      </ul>
      <h3 class="text-muted">Planning poker</h3>
    </div>

    {{ view main_path, 'body', {controller_group: 'main'} }}

    <div class="footer">
      <p>
        &copy; <a href="http://www.panter.ch/">Panter AG</a> {{ Time.now.year }} |
        <a href="https://github.com/panter/volt-poker">Source on Github</a> |
        Crafted at <a href="https://www.google.ch/maps/place/Ano+Amfia+240+09,+Greece/@37.1026398,22.0661795,253m/data=!3m1!1e3!4m2!3m1!1s0x1361b1ece4c17bc1:0xc1d4193d780c3112!6m1!1e1">Kalamata Klassenlager</a>
      </p>
    </div>

  </div>

<:Nav>
  <li class="{{ if active_tab? }}active{{ end }}">
    <a href="{{ attrs.href }}">{{ yield }}</a>
  </li>

