<:Title>
  Get ready!

<:Body>
  <form e-submit="enter_session" role="form">
    <:fields:text value="{{ page._session }}" label="Existing session (optional):" />

    <:fields:text value="{{ page._user }}" label="Your name:" />

    <div class="form-group">
      <label class="control-label">Card deck:</label>

      <div>
        {{ available_card_decks.each do |deck| }}
          <div class="card-wrapper small{{ ' active' if page._card_deck == deck}}">
            <a e-click="set_card_deck(deck)">
              <img src="{{ card_deck_preview_image_url(deck) }}" class="card" />
            </a>
          </div>
        {{ end }}
        <input type="hidden" value="{{ page._card_deck }}" />
      </div>
    </div>

    <button class="btn btn-default">
      {{ page._session.to_s.empty? ? "Create session" : "Enter session" }}
    </button>
  </form>
