<:Title>
  Estimate!

<:Body>
  <div class="action-header">
    Session URL: <a href="{{ page._session_url }}">{{ page._session_url }}</a>
  </div>

  <div class="card-container">
  {{ available_points.each do |point| }}
    <div class="card-wrapper{{ ' active' if _point == point}}">
      <a e-click="set_point(point)">
        <img src="{{ card_image_url(point) }}" class="card" />
      </a>
    </div>
  {{ end }}
  </div>

  <div class="card-container">
  {{ estimates.each do |estimate| }}
    <div class="card-wrapper{{ ' flip' if round_finished? }}">
      <div class="card-front">
        <div class="user-name">{{ estimate._user }}</div>
        <img src="{{ card_image_url(estimate._point || page._last_estimate_point) }}" class="card" />
      </div>
      <div class="card-back">
        <div class="user-name">{{ estimate._user }}</div>
        <img src="{{ '/assets/images/back.png' }}" class="card" />
      </div>
    </div>
  {{ end }}
  </div>

  <div class="action-footer">
    <a e-click="reset_round" class="btn btn-default">Next round!</a>
  </div>
