<:Title>
  Estimate!

<:Body>
  <div class="card-container">
  {{ available_points.each do |point| }}
    <div class="card-wrapper">
      <a e-click="set_point(point)">
        <img src="{{ card_image_url(point) }}" class="card" />
      </a>
    </div>
  {{ end }}
  </div>

  <div class="card-container">
  {{ estimates.each do |estimate| }}
    <div class="card-wrapper">
      {{ if round_finished? }}
        <img src="{{ card_image_url(estimate._point) }}" class="card" />
      {{ else }}
        <div class="user-name">{{ estimate._user }}</div>
        <img src="{{ '/assets/images/back.jpg' }}" class="card" />
      {{ end }}
    </div>
  {{ end }}
  </div>
